In [18]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set(color_codes=True)
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
data = pd.read_csv("data/churn.csv",na_values={'TotalCharges': ' '})
#data

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7032 non-null float64
Churn               7043 non-null object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [21]:
data.isnull().any(axis=0)

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn               False
dtype: bool

In [22]:
data['TotalCharges'].isnull().sum()
# so 11 null values in that column

11

In [23]:
#replace with 0 as total charges is not available means not charged
data['TotalCharges'] = data['TotalCharges'].fillna(0)

In [24]:
data['TotalCharges'].isnull().sum()
# no nan

0

In [25]:
data.isnull().any(axis=0)
# all columns have non null values

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

In [26]:
data['MonthlyCharges'].describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [27]:
data['MonthlyCharges'] = pd.qcut(data['MonthlyCharges'],q=5)
data['MonthlyCharges'].unique()

[(25.05, 58.83], (58.83, 79.1], (94.25, 118.75], (79.1, 94.25], (18.249, 25.05]]
Categories (5, interval[float64]): [(18.249, 25.05] < (25.05, 58.83] < (58.83, 79.1] < (79.1, 94.25] < (94.25, 118.75]]

In [28]:
data['TotalCharges'].describe()

count    7043.000000
mean     2279.734304
std      2266.794470
min         0.000000
25%       398.550000
50%      1394.550000
75%      3786.600000
max      8684.800000
Name: TotalCharges, dtype: float64

In [29]:
data['TotalCharges'] = pd.qcut(data['TotalCharges'],q=5)
data['TotalCharges'].unique()

[(-0.001, 265.32], (939.78, 2043.71], (265.32, 939.78], (2043.71, 4471.44], (4471.44, 8684.8]]
Categories (5, interval[float64]): [(-0.001, 265.32] < (265.32, 939.78] < (939.78, 2043.71] < (2043.71, 4471.44] < (4471.44, 8684.8]]

In [30]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,"(25.05, 58.83]","(-0.001, 265.32]",No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,"(25.05, 58.83]","(939.78, 2043.71]",No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,"(25.05, 58.83]","(-0.001, 265.32]",Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),"(25.05, 58.83]","(939.78, 2043.71]",No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,"(58.83, 79.1]","(-0.001, 265.32]",Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,"(79.1, 94.25]","(939.78, 2043.71]",No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),"(94.25, 118.75]","(4471.44, 8684.8]",No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,"(25.05, 58.83]","(265.32, 939.78]",No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,"(58.83, 79.1]","(265.32, 939.78]",Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),"(94.25, 118.75]","(4471.44, 8684.8]",No

In [31]:
# dont need customer ID in classification
data.drop(columns='customerID',inplace = True)

In [35]:
data.replace({'Yes' : 1,'No' : 0},inplace=True)
#data

In [33]:
data.to_csv('data/churn_proc.csv',index=False)